<!DOCTYPE html>
<html style="height:100vh;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ouathlogin</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic">
    <link rel="stylesheet" href="assets/css/user.css">
</head>

<body style="height:100vh;">
    <div class="jumbotron hero" style="height:100vh;background-image:url(&quot;assets/img/cort2.jpg&quot;);margin-bottom:0px;padding-bottom:0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-push-7 phone-preview">
                    <div class="iphone-mockup"><img src="assets/img/iphone.svg" class="device">
                        <div class="screen" style="background-image:url(&quot;assets/img/allstar.jpeg&quot;);"></div>
                    </div>
                </div>
                <div class="col-md-6 col-md-pull-3 get-it">
                    <h1 class="text-center">Welcome to the Fantasy NBA </h1>
                    <p class="text-center" style="background-color:rgba(0,0,0, 0.7);">Come on in and be empowered to rename, buy, or sell a franchise and player</p>
                    <p class="text-center"><a class="btn btn-primary btn-lg" role="button" href="#">Facebook login</a><a class="btn btn-success btn-lg" role="button" href="#">google login</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>