<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>franchise</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Article-Cards.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample52.jpg" alt="sample52"/></div>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
    <h3>The World Ended Yesterday</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>
  
</figure>
<figure class="snip1253 hover">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample66.jpg" alt="sample66"/></div>
  <figcaption>
    <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
    <h3>An Abstract Post Heading</h3>
    <p>
      Sometimes the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.
    </p>
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>1,870</div>
    <div class="love"><i class="ion-heart"></i>973</div>
    <div class="comments"><i class="ion-chatboxes"></i>85</div>
  </footer><a href="#"></a>
</figure>
<figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample59.jpg" alt="sample59"/></div>
  <figcaption>
    <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
    <h3>Down with this sort of thing</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>928</div>
    <div class="love"><i class="ion-heart"></i>198</div>
    <div class="comments"><i class="ion-chatboxes"></i>23</div>
  </footer><a href="#"></a>
</figure>
    <figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample52.jpg" alt="sample52"/></div>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
    <h3>The World Ended Yesterday</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>
  
</figure>
<figure class="snip1253 hover">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample66.jpg" alt="sample66"/></div>
  <figcaption>
    <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
    <h3>An Abstract Post Heading</h3>
    <p>
      Sometimes the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.
    </p>
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>1,870</div>
    <div class="love"><i class="ion-heart"></i>973</div>
    <div class="comments"><i class="ion-chatboxes"></i>85</div>
  </footer><a href="#"></a>
</figure>
<figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample59.jpg" alt="sample59"/></div>
  <figcaption>
    <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
    <h3>Down with this sort of thing</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>928</div>
    <div class="love"><i class="ion-heart"></i>198</div>
    <div class="comments"><i class="ion-chatboxes"></i>23</div>
  </footer><a href="#"></a>
</figure>
    <figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample52.jpg" alt="sample52"/></div>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
    <h3>The World Ended Yesterday</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>
  
</figure>
<figure class="snip1253 hover">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample66.jpg" alt="sample66"/></div>
  <figcaption>
    <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
    <h3>An Abstract Post Heading</h3>
    <p>
      Sometimes the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.
    </p>
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>1,870</div>
    <div class="love"><i class="ion-heart"></i>973</div>
    <div class="comments"><i class="ion-chatboxes"></i>85</div>
  </footer><a href="#"></a>
</figure>
<figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample59.jpg" alt="sample59"/></div>
  <figcaption>
    <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
    <h3>Down with this sort of thing</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>928</div>
    <div class="love"><i class="ion-heart"></i>198</div>
    <div class="comments"><i class="ion-chatboxes"></i>23</div>
  </footer><a href="#"></a>
</figure>
    <figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample52.jpg" alt="sample52"/></div>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
    <h3>The World Ended Yesterday</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>
  
</figure>
<figure class="snip1253 hover">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample66.jpg" alt="sample66"/></div>
  <figcaption>
    <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
    <h3>An Abstract Post Heading</h3>
    <p>
      Sometimes the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.
    </p>
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>1,870</div>
    <div class="love"><i class="ion-heart"></i>973</div>
    <div class="comments"><i class="ion-chatboxes"></i>85</div>
  </footer><a href="#"></a>
</figure>
<figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample59.jpg" alt="sample59"/></div>
  <figcaption>
    <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
    <h3>Down with this sort of thing</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>928</div>
    <div class="love"><i class="ion-heart"></i>198</div>
    <div class="comments"><i class="ion-chatboxes"></i>23</div>
  </footer><a href="#"></a>
</figure>
    <figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample52.jpg" alt="sample52"/></div>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
    <h3>The World Ended Yesterday</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>
  
</figure>
<figure class="snip1253 hover">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample66.jpg" alt="sample66"/></div>
  <figcaption>
    <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
    <h3>An Abstract Post Heading</h3>
    <p>
      Sometimes the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.
    </p>
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>1,870</div>
    <div class="love"><i class="ion-heart"></i>973</div>
    <div class="comments"><i class="ion-chatboxes"></i>85</div>
  </footer><a href="#"></a>
</figure>
<figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample59.jpg" alt="sample59"/></div>
  <figcaption>
    <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
    <h3>Down with this sort of thing</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>928</div>
    <div class="love"><i class="ion-heart"></i>198</div>
    <div class="comments"><i class="ion-chatboxes"></i>23</div>
  </footer><a href="#"></a>
</figure>
    <figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample52.jpg" alt="sample52"/></div>
  <figcaption>
    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
    <h3>The World Ended Yesterday</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>
  
</figure>
<figure class="snip1253 hover">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample66.jpg" alt="sample66"/></div>
  <figcaption>
    <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
    <h3>An Abstract Post Heading</h3>
    <p>
      Sometimes the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.
    </p>
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>1,870</div>
    <div class="love"><i class="ion-heart"></i>973</div>
    <div class="comments"><i class="ion-chatboxes"></i>85</div>
  </footer><a href="#"></a>
</figure>
<figure class="snip1253">
  <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample59.jpg" alt="sample59"/></div>
  <figcaption>
    <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
    <h3>Down with this sort of thing</h3>
    <p>
      I don't need to compromise my principles, they don't have the slightest bearing on what happens to me anyway.
    </p>
  </figcaption>
  <footer>
    <div class="views"><i class="ion-eye"></i>928</div>
    <div class="love"><i class="ion-heart"></i>198</div>
    <div class="comments"><i class="ion-chatboxes"></i>23</div>
  </footer><a href="#"></a>
</figure>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>